h1 {
    color: #7C001F;
    background-color: transparent;
    font-size: 50px;
    padding: 10px;
    font-family: 'Arial';
    font-weight: bold;
}

.T1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    padding: 10px;
    font-family: 'arial';
    font-weight: bold;
    text-align: center;


    body {
        background-image: url("entry5\ background.gif");
      }

      #box {
        width: 160px;
        height: 160px;
        margin: 40px auto; 
        background-color: black;
        /*transform: rotate(45deg);
        transform: scale(2);
        transform: skewY(20deg);
        transform: translate(-50px,-50px);   
        transform: rotate(45deg) scale(2) skewY(20deg) translate(-50px,-50px);
        transition-property: all, background-color;
        transition-delay: .1s;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        */
         transition: all 1s ease-in-out .1s;
       } 
       
       #box:hover {
        cursor: pointer; 
        /*transition: all 1s linear;
        transform: rotate(360deg); */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: tomato;
        transform: rotate(360deg);
       }
       }
       