body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  background-color: black;
  color: white;
  overflow: hidden;
  height: 100vh;
  background-image: url('pink.gif'); 
  background-size: cover; 
  background-position: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.rotating-cd {
  position: relative;
  width: 300px;
  height: 300px;
  animation: spin 5s linear infinite;
  z-index: 1;
  margin-bottom: 50px;
}

.rotating-cd img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.entry {
  position: absolute;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.2s ease, color 0.3s ease;
}

.entry:hover {
  color: gray;
  transform: scale(1.1);
}

.main-entry {
  position: relative;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
}

.entry1 {
  position: absolute;
  top: 10%;
  left: 20%;
}
.entry2 {
  position: absolute;
  top: 10%;
  right: 20%;
}
.entry3 {
  position: absolute;
  bottom: 10%;
  left: 20%;
}
.entry4 {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entry:active {
  color: gray;
}
