body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: "hidden";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@keyframes appearFromMiddle {
    0% {
        clip-path: inset(50% 50% 50% 50%);
        opacity: 0.5;
    }
    100% {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
}

@keyframes appearFromSide {
    0% {
        clip-path: inset(0% 100% 0% 0%);
        opacity: 0.5;
    }
    100% {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
}

@keyframes disappearFromMiddle {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    100% {
        clip-path: inset(50% 50% 50% 50%);
        opacity: 0.5;
    }
}

@keyframes disappearToSide {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    100% {
        clip-path: inset(0% 0% 0% 100%);
        opacity: 0.5;
    }
}

.image1 {
    animation: appearFromMiddle 2s forwards, disappearToSide 2s 4s forwards;
}

.image2 {
    animation: appearFromSide 2s 4s forwards, disappearToMiddle 2s 8s forwards;
}

.image3 {
    animation: appearFromMiddle 2s 8s forwards, disappearToSide 2s 12s forwards;
}